/*
UploadiFive
Copyright (c) 2012 Reactive Apps, Ronnie Garcia
*/

.uploadifive-button {
	width: 100%;
	height: 34px;
	/* padding: 6px 12px; */
	margin-bottom: 5px;
	border-radius: 4px;
	background-color: #1ab394;
	border-color: #1ab394;
	color: #FFFFFF;
	line-height: 1.42857143;
	text-align: center;
	vertical-align: middle;
	font-size: inherit;
}
.uploadifive-button:hover {
	background-color: #18a689;
	border-color: #18a689;
	color: #FFFFFF;
	cursor: pointer;
}
.uploadifive-queue-item {
	background-color: #F5F5F5;
	border-bottom: 1px dotted #D5D5D5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	font: 12px Arial, Helvetica, Sans-serif;
	margin-top: 3px;
	padding: 15px;
}
.uploadifive-queue-item .close {
	background: url('../img/uploadifive-cancel.png') 0 0 no-repeat;
	display: block;
	float: right;
	height: 16px;
	text-indent: -9999px;
	width: 16px;
}
.uploadifive-queue-item .progress {
	border: 1px solid #D0D0D0;
	height: 3px;
	margin-top: 5px;
	width: 100%;
}
.uploadifive-queue-item .progress-bar {
	background-color: #0072BC;
	height: 3px;
	width: 0;
}