﻿.fmt-0{font-style:normal;font-weight:bold;font-family:Arial Bold,Arial,serif;color:#000000;font-size:7pt;}

.fmt-1{font-style:normal;font-weight:bold;font-family:Arial Bold,Arial,serif;color:#000000;font-size:10pt;}

.fmt-2{font-style:normal;font-weight:bold;font-family:Arial Bold,Arial,serif;color:#000000;font-size:11pt;}

.fmt-3{font-style:normal;font-weight:normal;font-family:Arial,Arial,serif;color:#000000;font-size:10.2235pt;}

.fmt-4{font-style:normal;font-weight:normal;font-family:Arial,Arial,serif;color:#000000;font-size:10pt;}

